.mat-button.mat-lightblue, .mat-icon-button.mat-lightblue, .mat-stroked-button.mat-lightblue {
    color: #369;
}

.mat-button.mat-lightblue, .mat-icon-button.mat-lightblue, .mat-raised-button.mat-lightblue {
    background-color: #369;
    color:white;
}