<h1 mat-dialog-title>{{'USERS.EDIT.Titel' | translate}}</h1>
<div mat-dialog-content></div>
<div fxLayout="column">
  <mat-form-field appearance="fill">
    <mat-label>{{'USERS.EDIT.Name' | translate}}</mat-label>
    <input
      [(ngModel)]="data.user.firstName"
      matInput
      minlength="3"
      required
      type="text"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'USERS.EDIT.Email' | translate}}</mat-label>
    <input
      [(ngModel)]="data.user.email"
      matInput
      minlength="1"
      required
      type="text"
    />
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="cancelDialog()">{{'USERS.EDIT.Abbrechen' | translate}}</button>
  <button
    [mat-dialog-close]="data"
    color="primary"
    mat-raised-button
    type="submit"
  >
    {{'USERS.EDIT.Speichern' | translate}}
  </button>
</div>
