.menu-spacer {
  flex: 1 1 auto;
}

.landing-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.desktop-menu {
  padding-right: 100px;
}

.landing-main {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 12vh;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

img {
  margin: 0 auto;
  width: auto;
  height: 360px;
}

#description {
  position: relative;
  float: left;
  font-size: 22px;
  margin-bottom: 40px;
  color: #673ab7;
}

.toggle {
  margin-left: 20px;
  display: flex;
}

mat-toolbar {
  box-shadow: 0 3px 5px -1px #c5ebf433, 0 6px 10px #36434524, 0 1px 18px #84a5a81f;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  font-size: 18px;
}

.mat-raised-button.mat-primary {
  width: 180px;
  font-size: 16px;
  height: 50px;
}

:host ::ng-deep.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 85px;
}

:host ::ng-deep.mat-drawer-inner-container {
  width: 40vw !important;
  max-width: 200px;
  min-width: 110px;
}

:host ::ng-deep.mat-list-base {
  width: 100%;
  text-align: center;
}

:host ::ng-deep.mat-list-item-content {
  justify-content: center;
  color: #673ab7;
}

@media screen and (max-width: 768px) {
  .hidden.lw.md {
    display: block;
  }

  .content-wrapper {
    max-width: 100% !important;
    margin-top: auto;
  }

  img {
    height: 173px;
    width: auto;
  }

  #description {
    font-size: 3vw;
  }
}