<nav>
    <ul class="nav-links">
      <li>
        <button color="lightblue" mat-stroked-button>About</button>
      </li>
      <li>
        <button color="lightblue" mat-stroked-button>Services</button>
      </li>
      <li>
        <button color="lightblue" mat-stroked-button>Contact</button>
      </li>
    </ul>
  </nav>
  
  <main class="landing-main">
  
    <div class="content">
      <div>
        <img src="/assets/125.png"/>
      </div>
      <div class="content-wrapper">
        <div id="description">Beginnen Sie mit der Registrierung Ihre Stundenplanung<span></span></div>
        <button mat-raised-button color="lightblue" (click)="navigate()">Jetzt Planen</button>
      </div>
    </div>
  
  </main>