<div class="landing-container">
  <mat-toolbar color="gradient-primary">
    <mat-toolbar-row>
      <button mat-icon-button fxShow="true" fxHide.gt-sm (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <app-login fxLayoutAlign="flex-end center"> </app-login>
      <span class="menu-spacer"></span>
      <span *ngIf="userService.loggedIn" fxFlex fxLayoutAlign="flex-end right" style="margin: 1em">
        {{ "NAVIGATION.Greet" | translate }} {{ userService.username }}!
      </span>
      <app-change-language fxHide.lt-md></app-change-language>

      <div class="toggle">
        <mat-icon color="primary">brightness_5</mat-icon>
        <mat-slide-toggle [checked]="(themeSubject|async) === 'DARK'" (change)="toggleTheme($event)" class="mr-8">
        </mat-slide-toggle>
        <mat-icon color="primary">bedtime</mat-icon>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <app-change-language></app-change-language>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <main class="landing-main">
        <div class="content">
          <div>
            <img src="/assets/125.png" />
          </div>
          <div class="content-wrapper">
            <div id="description">{{"LANDING.Description" | translate}}<span></span></div>
            <button mat-raised-button color="primary" (click)="navigate()">{{"LANDING.Submit" | translate}}</button>
          </div>
        </div>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
