<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>{{ "NAVIGATION.Menü" | translate }}</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['/programs']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>dashboard</mat-icon>
        <span>{{ "NAVIGATION.Studiengänge" | translate }}</span>
      </a>
      <a
        mat-list-item
        [routerLink]="['/rooms']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>4k</mat-icon>
        <span>{{ "NAVIGATION.Räume" | translate }}</span>
      </a>
      <a
        mat-list-item
        [routerLink]="['/users']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>face</mat-icon>
        <span>Benutzer</span>
      </a>
      <a mat-list-item href="#"
        ><mat-icon>event</mat-icon>
        {{ "NAVIGATION.Stundenplan" | translate }}</a
      >

      <a
        mat-list-item
        [routerLink]="['/lectures']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>assignment</mat-icon>
        <span>{{ "NAVIGATION.Vorlesungen" | translate }}</span>
      </a>
      <a
        *ngIf="userService.loggedIn"
        mat-list-item
        [routerLink]="['/profile']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>person</mat-icon>
        <span>{{ "NAVIGATION.Profil" | translate }}</span>
      </a>
      <span class="form-inline">
        <select
          class="form-control"
          #selectedLang
          (change)="switchLang(selectedLang.value)"
        >
          <option
            *ngFor="let language of translate.getLangs()"
            [value]="language"
            [selected]="language === translate.currentLang"
          >
            {{ language }}
          </option>
        </select>
      </span>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span fxFlex>{{ "NAVIGATION.Title" | translate }}</span>
        <span
          *ngIf="userService.loggedIn"
          fxFlex
          fxLayoutAlign="flex-end right"
        >
          {{ "NAVIGATION.Greet" | translate }} {{ userService.username }}!
        </span>
        <app-login fxLayoutAlign="flex-end center"> </app-login>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
