<form class="container1" fxLayout="row">

  <mat-form-field appearance="outline">
    <mat-label>{{'SHOW_TIMETABLE.version' | translate}}</mat-label>
    <mat-select [(value)]="selectedVersion"
                (selectionChange)="reloadFilteredTimetable()">
      <mat-option
        *ngFor="let version of versions" [value]="version"
        matTooltip="{{version.comment}}}">
        {{ version.semesterYear + ", " + version.version }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{'SHOW_TIMETABLE.program' | translate}}</mat-label>
    <mat-select [(value)]="selectedProgram"
                (selectionChange)="loadSemesters(); reloadFilteredTimetable()">
      <mat-option *ngFor="let program of programs" [value]="program">
        {{ program.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{'SHOW_TIMETABLE.semester' | translate}}</mat-label>
    <mat-select #semesterSelect [(value)]="selectedSemester" [disabled]="selectedProgram.id==-1"
                (selectionChange)="reloadFilteredTimetable()">
      <mat-option *ngFor="let semester of semesters" [value]="semester">
        {{ semester.number }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    class="clearSelectionButton"
    mat-icon-button (click)="resetSelections()"
    matTooltip="{{'TIMETABLE_FILTER.clear_selection_tooltip' | translate}}">
    <mat-icon>clear</mat-icon>
  </button>

  <span fxFlex></span>

  <mat-form-field appearance="outline" class="program-filter">
    <mat-label>{{'SHOW_TIMETABLE.search' | translate}}</mat-label>
    <input
      (keyup)="applyFilter($event)"
      matInput
      placeholder="{{'SHOW_TIMETABLE.searchTerms' | translate}}"/>
  </mat-form-field>

  <button
    class="clearSelectionButton"
    mat-icon-button (click)="resetFilter()"
    matTooltip="{{'TIMETABLE_FILTER.clear_filter_tooltip' | translate}}">
    <mat-icon>clear</mat-icon>
  </button>

  <span fxFlex></span>

  <button mat-mini-fab
          [disabled]="true"
          class="fab"
          color="primary"
          matTooltip="{{'TIMETABLE_CRUD.add_label' | translate}}}">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-mini-fab class="fab"
          (click)="downloadTimetable()"
          color="primary">
    <mat-icon>cloud_download</mat-icon>
  </button>
  <button mat-mini-fab class="fab"
          (click)="openFileDialog(DialogType.FILE_UPLOAD)"
          color="primary">
    <mat-icon>cloud_upload</mat-icon>
  </button>
</form>

<app-timetable-day weekday="{{'SHOW_TIMETABLE.monday' | translate}}" [data]="mondayData"
                   [filter]="filter"></app-timetable-day>
<app-timetable-day weekday="{{'SHOW_TIMETABLE.tuesday' | translate}}" [data]="tuesdayData"
                   [filter]="filter"></app-timetable-day>
<app-timetable-day weekday="{{'SHOW_TIMETABLE.wednesday' | translate}}" [data]="wednesdayData"
                   [filter]="filter"></app-timetable-day>
<app-timetable-day weekday="{{'SHOW_TIMETABLE.thursday' | translate}}" [data]="thursdayData"
                   [filter]="filter"></app-timetable-day>
<app-timetable-day weekday="{{'SHOW_TIMETABLE.friday' | translate}}" [data]="fridayData"
                   [filter]="filter"></app-timetable-day>
<app-timetable-day weekday="{{'SHOW_TIMETABLE.saturday' | translate}}" [data]="saturdayData"
                   [filter]="filter"></app-timetable-day>
