<form class="container1">

  <mat-form-field appearance="outline">
    <mat-label>{{'SHOW_TIMETABLE.faculty' | translate}}</mat-label>
    <mat-select [(value)]="selectedFaculty">
      <mat-option *ngFor="let faculty of faculties" [value]="faculty">
        {{ faculty.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{'SHOW_TIMETABLE.major' | translate}}</mat-label>
    <mat-select [(value)]="selectedMajor">
      <mat-option *ngFor="let major of majors" [value]="major">
        {{ major.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{'SHOW_TIMETABLE.semester' | translate}}</mat-label>
    <mat-select [(value)]="selectedSemester">
      <mat-option *ngFor="let semester of semesters" [value]="semester">
        {{ semester.semester }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button color="primary" mat-raised-button (click)="openCreateLesson()" [disabled]="isCreateLessonVisible">Stunde hinzufügen</button>
  <mat-form-field appearance="outline" class="program-filter">
    <mat-label>{{'SHOW_TIMETABLE.search' | translate}}</mat-label>
    <input
      #input
      (keyup)="applyFilter($event)"
      matInput
      placeholder="{{'SHOW_TIMETABLE.searchTerms' | translate}}"/>
  </mat-form-field>

</form>

<mat-card class="add_lecture_card" *ngIf="isCreateLessonVisible">
  <mat-card-title>Neue Stunde anlegen <button mat-button (click)="closeCreateLesson()">X</button></mat-card-title>
  <mat-card-content>
    <form>
    <div class="attribute_grid">
      <div>
        <mat-form-field appearance="fill" class="attribute">
          <mat-label>Fakultät</mat-label>
          <mat-select [formControl]="facultyFormController">
            <mat-option *ngFor="let faculty of faculties" [value]="faculty">
              {{faculty.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="attribute">
          <mat-label>Studiengang</mat-label>
          <mat-select [formControl]="majorsFormControl">
            <mat-option *ngFor="let major of majors" [value]="major">
              {{major.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="attribute">
          <mat-label>Semester</mat-label>
          <mat-select [formControl]="semesterFormControl">
            <mat-option *ngFor="let semester of semesters" [value]="semester">
              {{semester.semester}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="attribute">
          <mat-label>Vorlesung</mat-label>
          <mat-select [formControl]="lecturesFormControl">
            <mat-option *ngFor="let lecture of lectures" [value]="lecture">
              {{lecture}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill" class="attribute">
          <mat-label>Wochentag</mat-label>
          <mat-select [formControl]="daysFormControl">
            <mat-option *ngFor="let day of days" [value]="day">
              {{day.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="attribute" appearance="fill">
          <mat-label>Startzeit</mat-label>
          <input type="time" matInput [formControl]="startTimeFormControl">
        </mat-form-field>
        <mat-form-field class="attribute" appearance="fill">
          <mat-label>Endzeit</mat-label>
          <input type="time" matInput [formControl]="endTimeFormControl">
        </mat-form-field>
      </div>

      <div>

        <mat-form-field class="attribute" appearance="fill">
          <mat-label>Raum</mat-label>
          <input type="text" [formControl]="roomFormControl" matInput [matAutocomplete]="roomAutocomplete">
          <mat-autocomplete autoActiveFirstOption #roomAutocomplete="matAutocomplete">
            <mat-option *ngFor="let room of filteredRooms | async" [value]="room.number">
              awd {{room.number}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="attribute" appearance="fill">
          <mat-label>Dozent</mat-label>
          <input type="text" [formControl]="lecturerFormControl" matInput [matAutocomplete]="lecturerAutocomplete">
          <mat-autocomplete autoActiveFirstOption #lecturerAutocomplete="matAutocomplete">
            <mat-option *ngFor="let lecturer of filteredLecturers | async" [value]="lecturer.displayName">
              test {{lecturer.displayName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>



        <mat-form-field appearance="fill" class="attribute">
          <mat-label>Stundentyp</mat-label>
          <mat-select [formControl]="typeFormControl">
            <mat-option *ngFor="let type of lessonTypes" [value]="type.enum">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="basic" class="delete_button" (click)="deleteNewLessonInputs()">Eingaben löschen</button>
    <button mat-raised-button color="primary" (click)="addLesson()">Hinzufügen</button>
  </mat-card-actions>
</mat-card>

<app-timetable-day weekday= "{{'SHOW_TIMETABLE.monday' | translate}}" [data]="mondayData" [filter]="filter"></app-timetable-day>
<app-timetable-day weekday="{{'SHOW_TIMETABLE.tuesday' | translate}}" [data]="tuesdayData" [filter]="filter"></app-timetable-day>
<app-timetable-day weekday="{{'SHOW_TIMETABLE.wednesday' | translate}}" [data]="wednesdayData" [filter]="filter"></app-timetable-day>
<app-timetable-day weekday="{{'SHOW_TIMETABLE.thursday' | translate}}" [data]="thursdayData" [filter]="filter"></app-timetable-day>
<app-timetable-day weekday="{{'SHOW_TIMETABLE.friday' | translate}}" [data]="fridayData" [filter]="filter"></app-timetable-day>
<app-timetable-day weekday="{{'SHOW_TIMETABLE.saturday' | translate}}" [data]="saturdayData" [filter]="filter"></app-timetable-day>
