<h1 mat-dialog-title>{{'ROOMS.EDIT.Bearbeiten' | translate}}</h1>
<div mat-dialog-content></div>
<div fxLayout="column">
  <mat-form-field appearance="fill">
    <mat-label>{{'ROOMS.EDIT.Name' | translate}}</mat-label>
    <input
      [(ngModel)]="data.room.number"
      matInput
      minlength="3"
      required
      type="text"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'ROOMS.EDIT.Gebäude' | translate}}</mat-label>
    <input
      [(ngModel)]="data.room.building"
      matInput
      minlength="1"
      required
      type="text"
    />
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="cancelDialog()">{{'ROOMS.EDIT.Abbrechen' | translate}}</button>
  <button
    [mat-dialog-close]="data"
    color="primary"
    mat-raised-button
    type="submit"
  >
    {{'ROOMS.EDIT.Speichern' | translate}}
  </button>
</div>
