<div class="lr-pad-12" fxLayout="column">
  <mat-form-field appearance="standard" class="program-filter">
    <mat-label>{{'LECTURES.Filter' | translate}}</mat-label>
    <input
      #input (keyup)="filter($event)" matInput
      placeholder="{{'LECTURES.PLACEHOLDER.filter' | translate: {value: strElementsToFilter() } }}"
    />
  </mat-form-field>

  <div class="spacer-12"></div>

  <table mat-table matSort class="width-100"
         [dataSource]="dataSource"
         (matSortChange)="announceSortChange($event)">
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="table-r-border">
        <button
          (click)="toggleEditing()"
          class="action"
          color="primary"
          mat-icon-button
          matTooltip="{{'LECTURES.TOOLTIP.bearbeiten' | translate}}"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          (click)="createLecture()"
          class="action"
          color="primary"
          mat-icon-button
          matTooltip="{{'LECTURES.TOOLTIP.createLecture' | translate}}"
        >
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let lecture" class="table-r-border">
        <button
          (click)="editLecture(lecture)"
          [disabled]="editEnabled ? null : true"
          class="action"
          mat-icon-button
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          (click)="removeLecture(lecture)"
          [disabled]="editEnabled ? null : true"
          class="action"
          mat-icon-button
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- definition of the column templates -->
    <ng-container matColumnDef="id" >
      <th class="table-leading-entry" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="{{'LECTURES.DESCRIPTION.sortId' | translate}}"> Id </th>
      <td class="table-leading-entry" mat-cell *matCellDef="let lecture"> {{ lecture.id }} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> {{'LECTURES.Vorlesung' | translate}} </th>
      <td mat-cell *matCellDef="let lecture"> {{ lecture.lectureName }} </td>
    </ng-container>
    <ng-container matColumnDef="lessons">
      <th mat-header-cell *matHeaderCellDef> {{'LECTURES.Sublektionen' | translate}} </th>
      <td mat-cell *matCellDef="let lecture"> {{ strLessons(lecture.lessons) }} </td>
    </ng-container>

    <!-- display columns -->
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay "></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

    <!-- empty view -->
    <tr *matNoDataRow class="mat-row">
      <td class="mat-cell" colspan="3">
        <span class="no-filter-message">{{'LECTURES.ERROR.filter' | translate}}</span>
      </td>
    </tr>
  </table>

  <!-- pagination -->
  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100, 250]"
                 showFirstLastButtons
                 attr.aria-label="{{'LECTURES.LABEL.pages' | translate}}">
  </mat-paginator>
</div>
