<div class="lr-pad-12" fxLayout="column">
  <mat-form-field appearance="standard" class="program-filter">
    <mat-label>{{'PROGRAM.Filter' | translate}}</mat-label>
    <input
      #input
      (keyup)="applyFilter($event)"
      matInput
      placeholder="{{'PROGRAM.PLACEHOLDER.id' | translate}}"/>
  </mat-form-field>

  <div class="spacer-12"></div>

  <table mat-table class="width-100" matSort [dataSource]="dataSource">
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="table-r-border">
        <button
          (click)="toggleEditing()"
          class="action"
          color="primary"
          mat-icon-button
          matTooltip="{{'PROGRAM.TOOLTIP.bearbeiten' | translate}}">
          <mat-icon>edit</mat-icon>
        </button>
        <button
          (click)="addRow()"
          class="action"
          color="primary"
          mat-icon-button
          matTooltip="{{'PROGRAM.TOOLTIP.addProgram' | translate}}">
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let program" class="table-r-border">
        <button
          (click)="editRow(program)"
          [disabled]="editEnabled?null:true"
          class="action"
          mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button
          (click)="removeRow(program)"
          [disabled]="editEnabled?null:true"
          class="action"
          mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th class="table-leading-entry" *matHeaderCellDef mat-header-cell mat-sort-header>Id</th>
      <td class="table-leading-entry" *matCellDef="let program" mat-cell>{{ program.id }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
      <td *matCellDef="let program" mat-cell>{{ program.name }}</td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

    <tr *matNoDataRow class="mat-row">
      <td class="mat-cell" colspan="4">
        <span class="no-filter-message">{{'PROGRAM.ERROR.Filter' | translate: {value: input.value} }}</span>
      </td>
    </tr>
  </table>
</div>
