<!-- Dialog Headers -->
<h1 mat-dialog-title [style.display]="isDialogType(data, DialogType.EDIT)?'visible':'none'">
  {{'LECTURES.EDIT.Bearbeiten' | translate}}
</h1>
<h1 mat-dialog-title [style.display]="isDialogType(data, DialogType.CREATE)?'visible':'none'">
  {{'LECTURES.EDIT.Neu' | translate}}
</h1>

<!-- Dialog Text -->
<div mat-dialog-content>
  <p class="mat-body" [style.display]="isDialogType(data, DialogType.CREATE)?'visible':'none'">
    {{'LECTURES.EDIT.infoNeu' | translate}}
  </p>
  <p class="mat-body" [style.display]="isDialogType(data, DialogType.EDIT)?'visible':'none'">
    {{'LECTURES.EDIT.infoBearbeiten' | translate}}
  </p>
</div>

<!-- Input-Fields -->
<div class="dialog-input-fields">

  <!-- ID -->
  <mat-form-field appearance="fill">
    <mat-label>{{'LECTURES.EDIT.idLabel' | translate}}</mat-label>
    <input matInput [(ngModel)]="data.lecture.id"
           required type="number"/>
  </mat-form-field>

  <!-- Name -->
  <mat-form-field appearance="fill">
    <mat-label>{{'LECTURES.EDIT.lectureLabel' | translate}}</mat-label>
    <input matInput [(ngModel)]="data.lecture.lectureName"
           minlength="3"
           required type="text"/>
  </mat-form-field>

  <!-- Lesson -->
  <mat-form-field appearance="fill">
    <mat-label>{{'LECTURES.EDIT.sublectureLabel' | translate}}</mat-label>
    <input matInput
           value="{{hasLessons(data.lecture)?strLessons(data.lecture):'LECTURES.EDIT.warning' | translate}}"
           minlength="0"
           disabled="true"
           required type="text"/>
  </mat-form-field>

</div>

<!-- Actions -->
<div mat-dialog-actions>
  <!-- Cancel -->
  <button mat-button (click)="cancelDialog()">{{'LECTURES.EDIT.Abbrechen' | translate}}</button>

  <!-- Submit -->
  <button mat-raised-button [mat-dialog-close]="data"
          [style.display]="isDialogType(data, DialogType.CREATE)?'visible':'none'"
          color="primary"
          type="submit"> {{'LECTURES.EDIT.Erstellen' | translate}} </button>
  <button mat-raised-button [mat-dialog-close]="data"
          [style.display]="isDialogType(data, DialogType.EDIT)?'visible':'none'"
          color="primary"
          type="submit"> {{'LECTURES.EDIT.Speichern' | translate}} </button>
</div>


