<div class="lr-pad-12" fxLayout="column">
  <mat-form-field appearance="standard">
    <mat-label>{{ "USER_ROLES.OVERVIEW.TEXT.filter" | translate }}</mat-label>
    <input #input
           (keyup)="filter($event)"
           matInput placeholder="{{'USER_ROLES.OVERVIEW.TEXT.search_txt' | translate: {
           value: strElementsToFilter(['USER_ROLES.OVERVIEW.COLUMNS.id' | translate, 'USER_ROLES.OVERVIEW.COLUMNS.benutzerrolle' | translate, 'USER_ROLES.OVERVIEW.COLUMNS.berechtigung' | translate],
        'USER_ROLES.OVERVIEW.TEXT.filter_oder' | translate)} }}"
    />
  </mat-form-field>

  <div class="spacer-12"></div>

  <table mat-table class="width-100"
         [dataSource]="dataSource"
         matSort (matSortChange)="announceSortChange($event)">

      <!-- definition of the column templates -->
      <ng-container matColumnDef="id" >
        <th class="table-leading-entry" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Nach Id sortieren"> {{ "USER_ROLES.OVERVIEW.COLUMNS.id" | translate }} </th>
        <td class="table-leading-entry" mat-cell *matCellDef="let userRole"> {{ userRole.id }} </td>
      </ng-container>
      <ng-container matColumnDef="type" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Nach Benutzerrolle sortieren"> {{ "USER_ROLES.OVERVIEW.COLUMNS.benutzerrolle" | translate }} </th>
        <td mat-cell *matCellDef="let userRole"> {{ userRole.type }} </td>
      </ng-container>
      <ng-container matColumnDef="permissions" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Nach Berechtigungen sortieren"> {{ "USER_ROLES.OVERVIEW.COLUMNS.berechtigung" | translate }} </th>
        <td mat-cell *matCellDef="let userRole"> {{ strListedIDPermissions(userRole) }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th class="table-r-border" mat-header-cell *matHeaderCellDef> </th>
        <td class="table-r-border" mat-cell *matCellDef="let userRole">
          <button mat-icon-button class="action"
                  (click)="showPermissions(userRole)"
                  disabled="{{hasNoPermissions(userRole)}}">
            <mat-icon>info</mat-icon>
          </button>
        </td>
      </ng-container>

    <!-- display columns -->
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay "></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

    <!-- empty view -->
    <tr *matNoDataRow class="mat-row">
      <td class="mat-cell" colspan="3">
        <span class="no-filter-message">{{ "USER_ROLES.OVERVIEW.TEXT.empty_table" | translate }}</span>
      </td>
    </tr>
  </table>
</div>
