<h1 mat-dialog-title>Edit</h1>
<div mat-dialog-content></div>
<mat-form-field appearance="fill">
  <mat-label>Studiengang Name</mat-label>
  <input [(ngModel)]="data.program.name"
         matInput
         minlength="3"
         required type="text"/>
</mat-form-field>
<div mat-dialog-actions>
  <button mat-button (click)="cancelDialog()">Abbrechen</button>
  <button [mat-dialog-close]="data"
          color="primary"
          mat-raised-button
          type="submit">Speichern
  </button>
</div>


